body {
    margin: 0;
    padding: 0;
    position: relative;
    height: 100vh;
}


/* WALLPAPER SECTION */

.wallpaper-container {
    position: relative;
    height: calc(100% - 35px);
}

.wallpaper-img {
    margin: 0;
    padding: 0;
    background-image: url('./static/windows-98-background.jpg');
    background-color: rgb(188,190,189);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
    position: relative;
}

/* MENU BAR */

.menu-bar {
    height: 35px;
    border: 2px solid white;
    background-color: rgb(188,190,189);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#startButtonDiv {
    position: absolute;
    height: 28px;
    width: 70px;
    left: 4px;
}

#startButtonDiv img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#startButton {
    position: absolute;
    height: 100%;
    width: 100%;
}


#timeMenuItem {
    position: absolute;
    height: 30px;
    width: 80px;
    right: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#timeMenuItem img {
    width: 100%;
    height: 100%;
}


#currentTime {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 20%;
    left: 25%;
}




/* APPLICATIONS */



#appContainer {
    height: 40%;
    width: 12%;
    position: absolute;
    top: 5%;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.app-card {
    height: 20%;
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

.app-card img {
    width: 100%;
    height: 100%;
    object-fit: stretch;
}

#appOneCard {
    top: 10%;
}

#appTwoCard {
    top: 35%;
}

#appThreeCard {
    top: 60%;
}


/* START MENU */


#startMenu {
    position: absolute;
    height: 50%;
    bottom: 0px;
    left: 2px;
    display: flex;
    width: 14%;
    display: none;
}

#startMenu img {
    width: 100%;
    height: 100%;
    object-fit: stretch;
    background-color: rgb(188,190,189);
}



/* LEFT MENU CONTAINER */

#leftMenuSection {
    border: 1px solid black;
    width: 12%;
    height: 99%;
    position: absolute;
    left: 0.1%;
}

/* RIGHT MENU CONTAINER */

#rightMenuSection {
    border: 1px solid black;
    width: 87%;
    height: 99%;
    position: absolute;
    left: 12.1%;
}


/* MENU ITEMS AND SEPARATIONS */


.menu-item {
    border: 1px solid black;
    height: 10%;
    width: 100%;
    position: absolute;
}

.menu-item:hover {
    background-color: blue;
}

#programsMenuDiv:hover + #programsMenuExtension {
    display: block;
}

#photosMenuDiv:hover + #photosMenuExtension {
    display: block;
}

#applicationsMenuDiv:hover + #applicationsMenuExtension {
    display: block;
}

#gamesMenuDiv:hover + #gamesMenuExtension {
    display: block;
}


#programsMenuDiv { top: 0%; }
#photosMenuDiv { top: 10%; }
#applicationsMenuDiv { top: 20%; }
#gamesMenuDiv { top: 30%; }
#settingsMenuDiv { top: 40%; }
#findMenuDiv { top: 50%; }
#helpMenuDiv { top: 60%; }
#runMenuDiv { top: 70%; }
#logoffMenuDiv { top: 80%; }
#shutdownMenuDiv { top: 90%; }



/* MENU EXTENSION */

.menu-item-extension {
    border: 1px solid black;
    position: absolute;
    background-color: rgb(188,190,189);
    height: 50%;
    width: 90%;
    left: 101%;
    display: none;
}

#programsMenuExtension {
    top: 0%;
}

#photosMenuExtension {
    top: 10%;
}

#applicationsMenuExtension {
    top: 20%;
}

#gamesMenuExtension {
    top: 30%;
}

/* OUTER APPLICATION WINDOWS */

.outer-app-window {
    border: 1px solid black;
    position: absolute;
    height: 40%;
    width: 30%;
    display: none;
}

.outer-app-window img{
    width: 100%;
    height: 100%;
    object-fit: stretch;
}

#appOneOuter {
    left: 20%;
    top: 5%;
    display: none;
}

#appTwoOuter {
    left: 25%;
    top: 15%;
    display: none;
}

#appThreeOuter {
    left: 30%;
    top: 25%;
    display: none;
}


.close-button {
    height: 3.8%;
    width: 3.6%;
    position: absolute;
    top: 1.6%;
    right: 1.8%;
}

/* INNER APPLICATIONS */

.inner-app-window {
    border: 1px solid black;
    position: absolute;
    height: 88%;
    width: 97.8%;
    left: 1%;
    top: 6.6%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#moduleOneBackground {
    background-color: darkcyan;
}


#moduleTwoBackground {
    background-color: blue;

}

#moduleThreeBackground {
    background-color: yellow;
}



/* CALCULATOR APP */ 

#calculatorBody {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.calculator {
    width: 50%;
    border: 1px solid black;
    border-radius: 8px;
    background-color: whitesmoke;
    overflow: hidden;
}
#display {
    height: 60px;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 30px;
    text-align: right;
    line-height: 60px;
}
.keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border-radius: 8px;
}

.span-two{
    grid-column: span 2;
}


/* ADDITIONAL MODULES */

#moduleTwo {
    color: white;
}

#moduleThree {
    color: black;
}