body {
    margin: 0;
    padding: 0;
    position: relative;
    height: 100vh;
}

/* WALLPAPER SECTION */

.wallpaper-container {
    position: relative;
    height: calc(100% - 35px);
}

.wallpaper-img {
    margin: 0;
    padding: 0;
    /* background-image: url('./static/windows-98-background.jpg'); */
    background-color: lightgray;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
    z-index: 0;
    position: relative;
}

/* .overlay-div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(246, 244, 244, 0.5);
    z-index: 1;
} */



/* MENU BAR */

.menu-bar {
    height: 35px;
    border: 2px solid white;
    background-color: lightgray;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#start-button-div {
    border: 1px solid blue;
    position: absolute;
    height: 28px;
    width: 70px;
    left: 4px;
}

#start-button-div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#start-button {
    position: absolute;
    height: 100%;
    width: 100%;
}


#time-button-div {
    border: 1px solid orange;
    position: absolute;
    height: 30px;
    width: 80px;
    right: 4px;
}


#time-button {
    position: absolute;
    height: 100%;
    width: 100%;
}




/* APPLICATIONS */

.app-card {
    border: 1px solid black;
    height: 5%;
    width: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}


#app-one-card {
    border: 1px solid black;
    position: absolute;
    top: 50px; /* Adjust as needed */
    left: 50px; /* Adjust as needed */

}

#app-two-card {
    border: 1px solid black;
    position: absolute;
    top: 160px; /* Adjust as needed */
    left: 50px; /* Adjust as needed */
}

#app-three-card {
    border: 1px solid black;
    position: absolute;
    top: 270px; /* Adjust as needed */
    left: 50px; /* Adjust as needed */

}








/* START MENU */


#start-menu {
    border: 1px solid yellow;
    position: absolute;
    height: 50%;
    bottom: 0px;
    left: 2px;
    display: flex;
    z-index: 1;
    /* display: none; /* Initially hidden */
}

#start-menu img {
    width: 100%;
    height: 100%;
    object-fit: stretch;
}



/* LEFT MENU CONTAINER */

#left-menu-section {
    border: 1px solid black;
    width: 12%;
    height: 99%;
    position: absolute;
    left: 0.1%;
}

/* RIGHT MENU CONTAINER */

#right-menu-section {
    border: 1px solid black;
    width: 87%;
    height: 99%;
    position: absolute;
    left: 12.1%;
}


/* MENU ITEMS AND SEPARATIONS */


.menu-item {
    border: 1px solid black;
    height: 10%;
    width: 100%;
    position: absolute;
}

#programs-menu-div {
    top: 0%;
}

#photos-menu-div {
    top: 10%;
}

#applications-menu-div{
    top: 20%
}

#games-menu-div {
    top: 30%
}

#settings-menu-div {
    top: 40%;
}

#find-menu-div {
    top: 50%;
}

#help-menu-div {
    top: 60%;
}

#run-menu-div {
    top: 70%;
}

#logoff-menu-div {
    top: 80%;
}

#shutdown-menu-div {
    top: 90%;
}


/* #menu-section {
    border: 1px solid black;
    width: 90%;
    flex-direction: column;
    display: flex;
    align-items: center;
} */

